
NET "FXCLK_IN" TNM_NET = "FXCLK_IN";
TIMESPEC "TS_FXCLK_IN" = PERIOD "FXCLK_IN" 20.3ns HIGH 50 %;
NET "FXCLK_IN"  LOC = "K14" | IOSTANDARD = LVCMOS33;

# input
NET "DATA_IN<0>"  LOC = "C16" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB0
NET "DATA_IN<1>"  LOC = "C15" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB1
NET "DATA_IN<2>"  LOC = "D16" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB2
NET "DATA_IN<3>"  LOC = "D14" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB3
NET "DATA_IN<4>"  LOC = "E13" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB4
NET "DATA_IN<5>"  LOC = "E12" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB5
NET "DATA_IN<6>"  LOC = "F16" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB6
NET "DATA_IN<7>"  LOC = "F15" | IOSTANDARD = LVCMOS33 | DRIVE = 12;  # PB7

NET "RD_CLK"  LOC = "T3" | IOSTANDARD = LVCMOS33;            # PA2
NET "WR_CLK"  LOC = "R11" | IOSTANDARD = LVCMOS33;           # PA3
NET "ESSID_WR_EN" LOC = "T5" | IOSTANDARD = LVCMOS33;        # PA4
NET "RST" LOC = "N11" | IOSTANDARD = LVCMOS33;               # PA5
NET "LEN_VALID" LOC = "T11" | IOSTANDARD = LVCMOS33;         # PA6
NET "TARGET_KEY_WR_EN" LOC = "T10" | IOSTANDARD = LVCMOS33;  # PA7

#output
NET "DATA_OUT<0>"  LOC = "P10" | IOSTANDARD = LVCMOS33;  # PD0
NET "DATA_OUT<1>"  LOC = "N12" | IOSTANDARD = LVCMOS33;  # PD1
NET "DATA_OUT<2>"  LOC = "P12" | IOSTANDARD = LVCMOS33;  # PD2
NET "DATA_OUT<3>"  LOC = "N5" | IOSTANDARD = LVCMOS33;   # PD3
NET "DATA_OUT<4>"  LOC = "P5" | IOSTANDARD = LVCMOS33;   # PD4
NET "DATA_OUT<5>"  LOC = "L8" | IOSTANDARD = LVCMOS33;   # PD5
NET "DATA_OUT<6>"  LOC = "L7" | IOSTANDARD = LVCMOS33;   # PD6
NET "DATA_OUT<7>"  LOC = "R5" | IOSTANDARD = LVCMOS33;   # PD7

NET "FINISHED"  LOC = "G12" | IOSTANDARD = LVCMOS33;        # PC0
NET "READY"  LOC = "G11" | IOSTANDARD = LVCMOS33;           # PC1
NET "GOT_ESSID"  LOC = "H15" | IOSTANDARD = LVCMOS33;       # PC2
NET "GOT_TARGET_KEY"  LOC = "M14" | IOSTANDARD = LVCMOS33;  # PC3
#NET ""  LOC = "P11" | IOSTANDARD = LVCMOS33;  # PC4
#NET ""  LOC = "H14" | IOSTANDARD = LVCMOS33;  # PC5
#NET ""  LOC = "H11" | IOSTANDARD = LVCMOS33;  # PC6
#NET ""  LOC = "H13" | IOSTANDARD = LVCMOS33;  # PC7


#NET "DEBUG<0>" LOC = "C7" | IOSTANDARD = LVCMOS33;   # exp. b. A28
#NET "DEBUG<1>" LOC = "A7" | IOSTANDARD = LVCMOS33;   # exp. b. A29
#NET "DEBUG<2>" LOC = "A12" | IOSTANDARD = LVCMOS33;  # exp. b. A30
#NET "DEBUG<3>" LOC = "E6" | IOSTANDARD = LVCMOS33;   # exp. b. A31
#NET "DEBUG<4>" LOC = "D6" | IOSTANDARD = LVCMOS33;   # exp. b. A32
#NET "DEBUG<5>" LOC = "C6" | IOSTANDARD = LVCMOS33;   # exp. b. A33
#NET "DEBUG<6>" LOC = "B6" | IOSTANDARD = LVCMOS33;   # exp. b. A34
#NET "DEBUG<7>" LOC = "A6" | IOSTANDARD = LVCMOS33;   # exp. b. A35

NET "DEBUG<0>" LOC = "B14" | IOSTANDARD = LVCMOS33;   # exp. b. A11
NET "DEBUG<1>" LOC = "A14" | IOSTANDARD = LVCMOS33;   # exp. b. A12
NET "DEBUG<2>" LOC = "C13" | IOSTANDARD = LVCMOS33;   # exp. b. A13
NET "DEBUG<3>" LOC = "D11" | IOSTANDARD = LVCMOS33;   # exp. b. A14
NET "DEBUG<4>" LOC = "C7" | IOSTANDARD = LVCMOS33;    # exp. b. A28
NET "DEBUG<5>" LOC = "A7" | IOSTANDARD = LVCMOS33;    # exp. b. A29
NET "DEBUG<6>" LOC = "A12" | IOSTANDARD = LVCMOS33;   # exp. b. A30
NET "DEBUG<7>" LOC = "E6" | IOSTANDARD = LVCMOS33;    # exp. b. A31