NET "FXCLK_IN" TNM_NET = "FXCLK_IN";
TIMESPEC "TS_FXCLK_IN" = PERIOD "FXCLK_IN" 20.3ns HIGH 50 %;
NET "FXCLK_IN"  LOC = "L22" | IOSTANDARD = LVCMOS33 ;

# inputs
NET "CHIP_SELECT"  LOC = "AB11" | IOSTANDARD = LVCMOS33 | TIG;  # PE4/5/6/7
PIN "CHIP_SELECT" TIG;

NET "DATA_CLK"  LOC = "G20" | IOSTANDARD = LVCMOS33;         # PC0
NET "ESSID_WR_EN"  LOC = "T20" | IOSTANDARD = LVCMOS33;      # PC1
NET "TARGET_KEY_WR_EN"  LOC = "Y5" | IOSTANDARD = LVCMOS33;  # PC2
NET "START_PWD_WR_EN"  LOC = "AB9" | IOSTANDARD = LVCMOS33;  # PC3
#NET "PWD_REQ"  LOC = "G19" | IOSTANDARD = LVCMOS33;          # PC4
NET "CHAR_WR_EN"  LOC = "H20" | IOSTANDARD = LVCMOS33;       # PC5

NET "DATA_IN<0>"  LOC = "V21" | IOSTANDARD = LVCMOS33;  # PD0
NET "DATA_IN<1>"  LOC = "V22" | IOSTANDARD = LVCMOS33;  # PD1
NET "DATA_IN<2>"  LOC = "U20" | IOSTANDARD = LVCMOS33;  # PD2
NET "DATA_IN<3>"  LOC = "U22" | IOSTANDARD = LVCMOS33;  # PD3
NET "DATA_IN<4>"  LOC = "R20" | IOSTANDARD = LVCMOS33;  # PD4
NET "DATA_IN<5>"  LOC = "R22" | IOSTANDARD = LVCMOS33;  # PD5
NET "DATA_IN<6>"  LOC = "P18" | IOSTANDARD = LVCMOS33;  # PD6
NET "DATA_IN<7>"  LOC = "P19" | IOSTANDARD = LVCMOS33;  # PD7

# outputs
#NET "DATA_OUT<0>"  LOC = "Y17" | IOSTANDARD = LVCMOS33; # PB0
#NET "DATA_OUT<1>"  LOC = "V13" | IOSTANDARD = LVCMOS33; # PB1
#NET "DATA_OUT<2>"  LOC = "W13" | IOSTANDARD = LVCMOS33; # PB2
#NET "DATA_OUT<3>"  LOC = "AA8" | IOSTANDARD = LVCMOS33; # PB3
#NET "DATA_OUT<4>"  LOC = "AB8" | IOSTANDARD = LVCMOS33; # PB4
#NET "DATA_OUT<5>"  LOC = "W6" | IOSTANDARD = LVCMOS33;  # PB5
#NET "DATA_OUT<6>"  LOC = "Y6" | IOSTANDARD = LVCMOS33;  # PB6
#NET "DATA_OUT<7>"  LOC = "Y9" | IOSTANDARD = LVCMOS33;  # PB7

NET "GOT_TARGET_KEY"  LOC = "AA22" | IOSTANDARD = LVCMOS33 | TIG;  # PA0
NET "GOT_ESSID"  LOC = "U15" | IOSTANDARD = LVCMOS33 | TIG;        # PA2
NET "FINISHED"  LOC = "AB21" | IOSTANDARD = LVCMOS33 | TIG;        # PA4